
.about__text p
{
  margin-bottom: 0;
  width: 64%;
  margin: auto;
}

.backgroundPic
{
    width: 90%;
}

.team__item
{
  /* height: 360px; */
  min-height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  background-size: contain;
}

.team__item:hover .team__item__text
{
  opacity: 1;
  bottom: 0;
  visibility: visible;
}

.team__item__text
{
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px 0;
  position: absolute;
  left: 0;
  bottom: -500px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}

.team__item__text h6
{
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.team__item__text span
{
  color: #111111;
  font-size: 14px;
  display: block;
  margin-bottom: 12px;
}

.team__item__social a
{
  display: inline-block;
  color: #111111;
  font-size: 16px;
  margin-right: 14px;
}


/* Wide Mobile = 480px */
@media only screen and (max-width: 767px) 
{
  .about__text
  {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 479px) 
{
  .section-title h2, .blog__hero__text h2, .blog__item__text h2
  {
    font-size: 28px;
    line-height: normal;
  }
}