/*==================================================================*/
/*                              About                               */
/*==================================================================*/

.founder__container
{
  max-width: 400px;
  max-height: 300px;
}

.founder__wrapper
{
	position: relative;
	padding-bottom: 75%;
}

.team__item
{
  /* position: relative; */
  /* height: 360px; */
  /* min-height: 300px; */
  overflow: hidden;
  margin-bottom: 30px;
  background-size: contain;
}

.team__item:hover .team__item__text
{
  opacity: 1;
  bottom: 0;
  visibility: visible;
}

.founder
{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.team__item__text
{
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 0;
  bottom: -500px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}

.team__item__text h6
{
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.team__item__text span
{
  color: #111111;
  font-size: 14px;
  display: block;
  /* margin-bottom: 12px; */
}

.about__text p
{
  margin-bottom: 0;
  width: 65%;
  margin: auto;
}

/*==================================================================*/
/*                     Responsive Media Queries                     */
/*==================================================================*/

/* Wide Mobile = 480px */
@media only screen and (max-width: 767px) 
{
  .about__text
  {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 479px) 
{
  .section-title h2
  {
    font-size: 28px;
    line-height: normal;
  }
}