/*==================================================================*/
/*                             Contact                              */
/*==================================================================*/

.contactComponentHeading
{
    letter-spacing: 1px;
    background: var(--themeColor1);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--themeColor2)
}

.contactComponent, .contactComponent .list-group-item
{
    border-color: #212529;
}

/* .contactComponent .list-group-item+.list-group-item 
{
    border-top-width: 0;
} */

.contactComponent tbody tr th:first-of-type
{
    background-color: #FCE0EA;
}

.contactComponent .list-group-item:not(:first-child), .contactComponent tbody tr td
{
    background-color: #FFF4FA;
}

/* .contactComponent tbody tr:nth-child(odd), .contactComponent .list-group-item:nth-child(even)
{
    background-color: #FFF4FA;
}

.contactComponent tbody tr:nth-child(even), .contactComponent .list-group-item:nth-child(odd):not(:first-child)
{
    background-color: #FCE0EA;
} */