/*==================================================================*/
/*                              Map                               */
/*==================================================================*/

.map
{
    position: relative;
}

.map__iframe
{
    position: relative;
    padding-bottom: 56.25%;
}

.map__iframe iframe
{
    position: absolute;
    top: 0;
    left: 0;
}