/*==================================================================*/
/*                             Product                              */
/*==================================================================*/

.card
{
  width: 313px;
  border: solid 1px black;
  -webkit-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  transition: ease all 0.3s;
  margin: 6px 3px;
}

.card:hover
{
  transform: translateY(-7.5px);
}

/*==================================================================*/
/*                         Product Wrapper                          */
/*==================================================================*/

.card .wrapper
{
  margin: 42px 10px 10px 10px;
  padding-top: 300px;
  box-sizing: border-box;
  position: relative;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

/*==================================================================*/
/*                           Product Name                           */
/*==================================================================*/

.card .wrapper .prodName
{
  font-size: 14px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  background: var(--themeColor1);
  color: var(--themeColor2);
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  bottom: 100%;
  left: 0;
  display: block;
}

.card .wrapper .prodName:hover
{
  cursor: default;
}

/*==================================================================*/
/*                          Product Image                           */
/*==================================================================*/

.card .wrapper .prodBackground
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  background: radial-gradient(circle, 
    rgba(255, 255, 255, 1) 0%, 
    rgba(253, 237, 243, 1) 20%, 
    rgba(251, 219, 230, 1) 40%, 
    rgba(250, 202, 218, 1) 60%, 
    rgba(248, 184, 205, 1) 80%, 
    rgba(246, 166, 193, 1) 100%);
}

.card .wrapper .prodImg
{
  position: absolute;
  bottom: calc(100% - 278.5px);
  height: 248.5px;
  max-width: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.card .wrapper:hover .prodImg
{
  height: 275px;
}

/*==================================================================*/
/*                          Product Price                           */
/*==================================================================*/

.card .wrapper .prodPrice span
{
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: -15px auto 0 auto;
  font-size: 14px;
  font-weight: 600;
  background: var(--themeColor11);
  color: var(--themeColor2);
  padding: 4px 8px;
  border-radius: 4px;
}

.card .wrapper:hover .prodPrice span
{
  background: var(--themeColor1);
  color: var(--themeColor2);
  cursor: default;
}

/*==================================================================*/
/*                       Product Description                        */
/*==================================================================*/

.card .wrapper .prodInfo summary
{
  font-size: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
}

.card .wrapper .prodInfo summary:hover
{
  cursor: default;
}

/*==================================================================*/
/*              Product Add-To/Remove-From-Cart Button              */
/*==================================================================*/

.card .wrapper .prodButton
{
  font-size: 0.9rem;
  font-weight: 500;
}

.card .wrapper .prodButton-light
{
  color: #5B1800; 
  background-color: #FFA33A;
}

.card .wrapper .prodButton-light:hover
{
  background-color: #EC9433;
  border-color: #CC6600;
}

.card .wrapper .prodButton-dark
{
  color: var(--themeColor2); 
  background-color: var(--themeColor6);
}

.card .wrapper .prodButton-dark:hover
{
  background-color: #424242;
  border-color: #373737;
}