:root
{
    --headerHeight: 164px;
    --footerHeight: 432px;
}

* 
{
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

/* header
{
    height: var(--headerHeight);
}

body
{
    min-height: 100vh;
    padding-bottom: var(--footerHeight);
    position: relative;
}

footer
{
    height: var(--footerHeight);
    position: absolute;
    bottom: 0;
} */

main
{
    min-height: calc(100vh - (var(--headerHeight)) - (var(--footerHeight)));
}

.spad
{
  padding-top: 100px;
  padding-bottom: 100px;
}